#search-tabs .ui-tabs-nav li a {
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
}

#search-tabs ul {
    margin-bottom: 0px;
}

.searchinput {
    width: 470px;
    font-size: 17px !important;
}

.searchsubmit {
    font-size: 17px !important;
}

.searchtext {
    font-size: 17px;
    float: left;
}

.info-hover {
    margin: 10px 0 0 10px;
}

.info-hover:hover {
    cursor: pointer;
}

.info-text {
    position:fixed;
    z-index:9999;
    font-size:12px;
    width:230px;
    padding: 4px;    
}

.searchlink {
    float: right;
    padding: 5px;
    font-size: 14px;
}

.searchtab {
    height: 100px;
}

.search-area {
/*    float: left;
    width: 650px; */
}

#crselect {
    font-size: 14px;
}
